.Pokecard {
  border: 3px solid #1d2d50;
  margin: auto;
  margin-bottom: 0.75em;
  padding: 1em;
  background-color: #1e5f74;
  color: white;
  width: 40%;
  box-shadow: #333 5px 5px 5px 2px;
}
